.container {
  width: 100%;
  max-width: 1600px;
  position: relative;
  top: 0;
  margin: 0 auto;
}

p,
body {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $paragraph;
  font-weight: 400;
}

h1 {
  font-family: 'voga-medium', helvetica, sans-serif;
  font-size: 13vh;
  line-height: 13vh;
  color: $black;

  @include breakpoint(tablet) {
    font-size: 10vh;
    line-height: 9vh;
  }

  @include breakpoint(mobile) {
    font-size: 8vh;
    line-height: 7vh;
  }
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;

  @include breakpoint(mobile) {
    font-size: 18px;
  }
}
