// ========================================
// Colors
// ========================================
$black: #282828;
$white: #FFFFFF;
$paragraph: #707070;
$primary: blue;


// =========================================

$headerHeight: 80px;
$headerHeightMobile: 50px;

$surroundPadding: 120px;


// ========================================
// Screen sizes
// ========================================
$mobile : 480px;
$tablet : 769px;
$desktop : 1000px;
$fullhd : 1384px;
